In [30]:
from IPython.core.display import Markdown

from common.overview import get_personal_overview

display(Markdown("# Personal Overview"))
get_personal_overview()

# Personal Overview

       day part            time   rank  score
0  2024/01    A 0 days 01:13:28  11034      0
1  2024/01    B 0 days 01:21:03  10524      0
2  2024/02    A 0 days 00:17:44   6086      0
3  2024/02    B 0 days 00:43:49   6609      0

In [31]:
from IPython.core.display import Markdown

from common.overview import print_leaderboard

display(Markdown("# Leaderboards"))
display(Markdown("## Bol"))
print_leaderboard(257356)
display(Markdown("## Twit"))
print_leaderboard(1651008)

# Leaderboards

## Bol

                      name  local_score  stars                   progress
0          Eric Veenendaal          252      4  2200000000000000000000000
1                Marco Nel          239      4  2200000000000000000000000
2                  EgbertW          237      4  2200000000000000000000000
3           Jorisvanrheden          234      4  2200000000000000000000000
4              HSteffensen          232      4  2200000000000000000000000
5            Carst Tankink          225      4  2200000000000000000000000
6          Thom van de Vin          222      4  2200000000000000000000000
7            Bart Enkelaar          220      4  2200000000000000000000000
8             Dave Franken          209      4  2200000000000000000000000
9             Naval Bhagat          201      4  2200000000000000000000000
10                mmeiboom          200      4  2200000000000000000000000
11             Lex Ruesink          198      4  2200000000000000000000000
12            Erik Tillema          187      4  2200000000000000000000000
13    Goos van den Bekerom          181      4  2200000000000000000000000
14       Fabr√≠cio Yamamoto          149      3  2100000000000000000000000
15    Claudia van der Veer          143      3  2100000000000000000000000
16                 mvanede          132      3  2100000000000000000000000
17              Ege Balcik          118      2  2000000000000000000000000
18            Navya Govind          116      2  2000000000000000000000000
19     Kerem Can Bayraktar          110      2  2000000000000000000000000
20           Nilson Aguiar          108      2  2000000000000000000000000
21  Jan-Willem Willebrands           99      2  2000000000000000000000000
22             Martijnpold           94      2  2000000000000000000000000
23            Quido Meijer           92      2  2000000000000000000000000

## Twit

                   name  local_score  stars                   progress
0               cyphase          208      4  2200000000000000000000000
1          Place Holder          200      4  2200000000000000000000000
2          Darren Oakey          189      4  2200000000000000000000000
3       Eric Veenendaal          188      4  2200000000000000000000000
4           Leo Laporte          187      4  2200000000000000000000000
5           -Whatever--          149      3  2100000000000000000000000
6                  ty2k          142      3  2100000000000000000000000
7            Simon Wall          122      3  2100000000000000000000000
8           Gillian Law          110      3  2100000000000000000000000
9   Torbj√∂rn Pettersson           98      2  2000000000000000000000000
10        Barbara Frary           94      2  2000000000000000000000000
11           BrianSwift           88      2  2000000000000000000000000
12        Kyle Forsberg           84      2  2000000000000000000000000
13         Manny Ledoux           82      2  2000000000000000000000000
14       Markus Peltola           80      2  2000000000000000000000000
15        Sarah Sorlien           77      2  2000000000000000000000000
16          John Arnold           74      2  2000000000000000000000000
17    Miquel Fire Burns           72      2  2000000000000000000000000
18    Alasdair Sinclair           70      2  2000000000000000000000000
19                ailaG           68      2  2000000000000000000000000
20             Outasync           64      2  2000000000000000000000000
21          bitsofeight           62      2  2000000000000000000000000