In [1]:
from IPython.core.display import Markdown

from common.overview import get_personal_overview

display(Markdown("# Overview"))
get_personal_overview()

# Overview

**Updated:** 2024-12-05 12:46:50

[Personal Stats](https://adventofcode.com/2024/leaderboard/self)

                 Time A Rank A          Time B Rank B
Day
2024/01 0 days 01:13:28  11034 0 days 01:21:03  10524
2024/02 0 days 00:17:44   6086 0 days 00:43:49   6609
2024/03 0 days 00:10:14   4303 0 days 02:18:43  18637
2024/04 0 days 00:10:21   1685 0 days 02:21:45  14636
2024/05 0 days 01:31:13  13753 0 days 03:07:49  15929

In [2]:
from IPython.core.display import Markdown

from common.overview import print_leaderboard

display(Markdown("# Leaderboards"))
print_leaderboard("Bol", 257356, 20)
print_leaderboard("Twit", 1651008, 20)

# Leaderboards

## Bol

**Updated:** 2024-12-05 12:46:51

[Private Leaderboard](https://adventofcode.com/2024/leaderboard/private/view/257356)

                 Name  Score  Stars                   Progress
0     Eric Veenendaal    669     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
1             EgbertW    631     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
2         HSteffensen    628     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
3           Marco Nel    625     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
4       Bart Enkelaar    620     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
5        Naval Bhagat    588     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
6       Felipe Flores    573      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
7     Thom van de Vin    559     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
8            mmeiboom    540     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
9      Jorisvanrheden    531      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
10       Dave Franken    509      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
11            mvanede    494      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
12        Martijnpold    474     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
13      Carst Tankink    458      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
14  Paul van der Bles    452      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
15        Lex Ruesink    432      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
16     Michel Schudel    427      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
17               Lulu    405      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
18     Marco Plaisier    403      7  ğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
19             tvlieg    403      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ

## Twit

**Updated:** 2024-12-05 12:46:51

[Private Leaderboard](https://adventofcode.com/2024/leaderboard/private/view/1651008)

                   Name  Score  Stars                   Progress
0               cyphase    581     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
1          Place Holder    571     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
2          Darren Oakey    566     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
3                  ty2k    545     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
4       Eric Veenendaal    541     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
5   TorbjÃ¶rn Pettersson    502     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
6           John Arnold    480     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
7          Manny Ledoux    446      9  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ­â¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
8          Morgan Davis    443     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
9           Leo Laporte    426      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
10                 Alex    416     10  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
11           Simon Wall    398      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
12          -Whatever--    389      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
13        Sarah Sorlien    371      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
14          Gillian Law    369      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
15          bitsofeight    359      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
16    Miquel Fire Burns    337      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
17             RL Brown    324      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
18       Markus Peltola    311      7  ğŸŒŸâ­ğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ
19           Doug Mason    308      8  ğŸŒŸğŸŒŸğŸŒŸğŸŒŸâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œâ¬œ

In [3]:
from IPython.core.display import Markdown

from common.overview import get_personal_overview

display(Markdown("# Overview 2023"))
get_personal_overview(2023)

# Overview 2023

**Updated:** 2024-12-05 12:46:52

[Personal Stats](https://adventofcode.com/2023/leaderboard/self)

                 Time A  Rank A          Time B  Rank B
Day
2023/01 0 days 16:13:21  122709 1 days 00:00:00  113666
2023/02 0 days 08:44:25   53061 0 days 08:51:57   49621
2023/03 0 days 10:17:16   46460 0 days 10:42:21   38169
2023/04 0 days 06:04:08   43105 0 days 06:31:05   34162
2023/05 0 days 06:12:42   29373 0 days 06:36:33   13285
2023/06 0 days 06:23:56   36136 0 days 06:30:08   34906
2023/07 0 days 08:58:24   33363 0 days 09:56:11   29105
2023/08 0 days 07:57:26   36567 0 days 10:36:05   29546
2023/09 0 days 08:30:06   31040 0 days 08:39:32   30229
2023/10 0 days 10:18:43   27252 0 days 17:27:36   23642
2023/11 0 days 05:59:29   19892 0 days 06:09:37   17882
2023/12 0 days 06:19:51   14150 0 days 07:04:41    6093
2023/13 1 days 00:00:00   31934 1 days 00:00:00   27681
2023/14 1 days 00:00:00   31316 1 days 00:00:00   25673
2023/15 0 days 02:23:15   11481 0 days 03:08:26    9967
2023/16 0 days 03:42:38    8292 0 days 03:54:36    7750
2023/17 0 days 05:56:06    6028 0 days 05:58:51    5191
2023/18 0 days 06:56:59   11353 0 days 10:50:39    9491
2023/19 0 days 02:04:43    6072 0 days 14:51:59   11340
2023/20 0 days 07:32:16    8449 0 days 14:14:44    8430
2023/21 0 days 02:17:35    6334 1 days 00:00:00    8419
2023/22 1 days 00:00:00   11426 1 days 00:00:00   10437
2023/23 1 days 00:00:00   12448 1 days 00:00:00    9620
2023/24 1 days 00:00:00   11854 1 days 00:00:00    7314
2023/25 1 days 00:00:00    8997 1 days 00:00:00    6613