In [2]:
from IPython.core.display import Markdown
from dotenv import load_dotenv

from common.overview import get_personal_overview

load_dotenv()

display(Markdown("# Personal Overview"))
get_personal_overview()

# Personal Overview

       day part            time   rank  score
0  2024/01    A 0 days 01:13:28  11034      0
1  2024/01    B 0 days 01:21:03  10524      0
2  2024/02    A 0 days 00:17:44   6086      0
3  2024/02    B 0 days 00:43:49   6609      0

In [1]:
from dotenv import load_dotenv
from IPython.core.display import Markdown

from common.overview import print_leaderboard

load_dotenv()

display(Markdown("# Leaderboards"))
display(Markdown("## Bol"))
print_leaderboard(257356)
display(Markdown("## Twit"))
print_leaderboard(1651008)

# Leaderboards

## Bol

              Name  Score  Stars                   Progress
0  Eric Veenendaal    252      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
1        Marco Nel    239      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
2          EgbertW    237      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
3   Jorisvanrheden    234      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
4      HSteffensen    232      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
5    Carst Tankink    225      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
6  Thom van de Vin    222      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
7    Bart Enkelaar    220      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
8     Dave Franken    209      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
9     Naval Bhagat    201      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜

## Twit

                  Name  Score  Stars                   Progress
0              cyphase    208      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
1         Place Holder    200      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
2         Darren Oakey    189      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
3      Eric Veenendaal    188      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
4          Leo Laporte    187      4  🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
5          -Whatever--    149      3  🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
6                 ty2k    142      3  🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
7           Simon Wall    122      3  🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
8          Gillian Law    110      3  🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
9  Torbjörn Pettersson     98      2  🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜