In [28]:
from datetime import datetime
from IPython.core.display import Markdown
from dotenv import load_dotenv

from common.overview import get_personal_overview

load_dotenv()

display(Markdown("# Personal Overview"))
display(Markdown(f"Last Updated: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"))

get_personal_overview()

# Personal Overview

Last Updated: 2024-12-02 10:06:51

       day part            time   rank  score
0  2024/01    A 0 days 01:13:28  11034      0
1  2024/01    B 0 days 01:21:03  10524      0
2  2024/02    A 0 days 00:17:44   6086      0
3  2024/02    B 0 days 00:43:49   6609      0

In [29]:
from dotenv import load_dotenv
from common.overview import print_leaderboard
from IPython.core.display import Markdown

load_dotenv()

display(Markdown("# Leaderboards"))
display(Markdown(f"Last Updated: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}"))

display(Markdown("## Bol"))
print_leaderboard(257356)
display(Markdown("## Twit"))
print_leaderboard(1651008)

# Leaderboards

Last Updated: 2024-12-02 10:06:52

## Bol

                      name  local_score  stars                   progress
0          Eric Veenendaal          236      4  2200000000000000000000000
1                Marco Nel          223      4  2200000000000000000000000
2                  EgbertW          221      4  2200000000000000000000000
3              HSteffensen          216      4  2200000000000000000000000
4            Carst Tankink          209      4  2200000000000000000000000
5            Bart Enkelaar          204      4  2200000000000000000000000
6           Jorisvanrheden          167      3  2100000000000000000000000
7             Naval Bhagat          136      3  2100000000000000000000000
8     Claudia van der Veer          132      3  2100000000000000000000000
9               Ege Balcik          110      2  2000000000000000000000000
10            Navya Govind          108      2  2000000000000000000000000
11         Thom van de Vin          106      2  2000000000000000000000000
12     Kerem Can Bayraktar          102      2  2000000000000000000000000
13           Nilson Aguiar          100      2  2000000000000000000000000
14            Dave Franken           98      2  2000000000000000000000000
15                mmeiboom           93      2  2000000000000000000000000
16       Fabr√≠cio Yamamoto           92      2  2000000000000000000000000
17  Jan-Willem Willebrands           91      2  2000000000000000000000000
18             Martijnpold           86      2  2000000000000000000000000
19            Quido Meijer           84      2  2000000000000000000000000
20                 mvanede           78      2  2000000000000000000000000
21    Goos van den Bekerom           38      1  1000000000000000000000000
22            Erik Tillema           37      1  1000000000000000000000000

## Twit

                   name  local_score  stars                   progress
0               cyphase          208      4  2200000000000000000000000
1          Place Holder          200      4  2200000000000000000000000
2          Darren Oakey          189      4  2200000000000000000000000
3       Eric Veenendaal          188      4  2200000000000000000000000
4           Leo Laporte          187      4  2200000000000000000000000
5           -Whatever--          149      3  2100000000000000000000000
6                  ty2k          142      3  2100000000000000000000000
7            Simon Wall          122      3  2100000000000000000000000
8   Torbj√∂rn Pettersson           98      2  2000000000000000000000000
9         Barbara Frary           94      2  2000000000000000000000000
10           BrianSwift           88      2  2000000000000000000000000
11        Kyle Forsberg           84      2  2000000000000000000000000
12         Manny Ledoux           82      2  2000000000000000000000000
13       Markus Peltola           80      2  2000000000000000000000000
14        Sarah Sorlien           77      2  2000000000000000000000000
15          John Arnold           74      2  2000000000000000000000000
16    Miquel Fire Burns           72      2  2000000000000000000000000
17    Alasdair Sinclair           70      2  2000000000000000000000000
18                ailaG           68      2  2000000000000000000000000
19          Gillian Law           66      2  2000000000000000000000000
20             Outasync           64      2  2000000000000000000000000
21          bitsofeight           31      1  1000000000000000000000000