In [1]:
from IPython.core.display import Markdown

from common.overview import get_personal_overview

display(Markdown("# Overview"))
get_personal_overview()

# Overview

**Updated:** 2024-12-05 09:47:21

[Personal Stats](https://adventofcode.com/2024/leaderboard/self)

                 Time A Rank A          Time B Rank B
Day
2024/01 0 days 01:13:28  11034 0 days 01:21:03  10524
2024/02 0 days 00:17:44   6086 0 days 00:43:49   6609
2024/03 0 days 00:10:14   4303 0 days 02:18:43  18637
2024/04 0 days 00:10:21   1685 0 days 02:21:45  14636
2024/05 0 days 01:31:13  13753 0 days 03:07:49  15929

In [2]:
from IPython.core.display import Markdown

from common.overview import print_leaderboard

display(Markdown("# Leaderboards"))
print_leaderboard("Bol", 257356, 20)
print_leaderboard("Twit", 1651008, 20)

# Leaderboards

## Bol

**Updated:** 2024-12-05 09:47:21

[Private Leaderboard](https://adventofcode.com/2024/leaderboard/private/view/257356)

                 Name  Score  Stars                   Progress
0     Eric Veenendaal    669     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
1             EgbertW    631     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
2         HSteffensen    628     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
3           Marco Nel    625     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
4       Bart Enkelaar    620     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
5        Naval Bhagat    588     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
6       Felipe Flores    573      9  🌟🌟🌟🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
7             mvanede    494      9  🌟🌟🌟🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
8      Jorisvanrheden    472      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
9       Carst Tankink    458      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
10       Dave Franken    454      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
11  Paul van der Bles    452      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
12    Thom van de Vin    438      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
13        Lex Ruesink    432      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
14     Michel Schudel    427      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
15           mmeiboom    420      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
16               Lulu    405      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
17     Marco Plaisier    403      7  🌟🌟🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
18       Navya Govind    399      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
19  Fabrício Yamamoto    388      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜

## Twit

**Updated:** 2024-12-05 09:47:22

[Private Leaderboard](https://adventofcode.com/2024/leaderboard/private/view/1651008)

                   Name  Score  Stars                   Progress
0               cyphase    581     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
1          Place Holder    571     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
2          Darren Oakey    566     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
3                  ty2k    545     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
4       Eric Veenendaal    541     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
5   Torbjörn Pettersson    502     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
6          Manny Ledoux    446      9  🌟🌟🌟🌟⭐⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
7          Morgan Davis    443     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
8           Leo Laporte    426      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
9                  Alex    416     10  🌟🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
10           Simon Wall    398      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
11          -Whatever--    389      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
12          John Arnold    379      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
13        Sarah Sorlien    371      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
14          Gillian Law    369      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
15          bitsofeight    359      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
16    Miquel Fire Burns    337      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
17             RL Brown    324      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
18       Markus Peltola    311      7  🌟⭐🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜
19           Doug Mason    308      8  🌟🌟🌟🌟⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜